* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

:root {
  --hue-color: 250;
  --primary-color: #007bff;
  --secondary-color: #6c757d;
  --background-color: #eaeef1ee;
  --surface-color: #ffffff;
  --text-color: #212529;
  --text-color-light: #495057;
  --border-color: #dee2e6;
  --shadow-color: rgba(0, 0, 0, 0.1);
  --font-family-base: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  --font-size-base: 1rem;
  --line-height-base: 1.5;
  --font-weight-normal: 400;
  --font-weight-bold: 700;
  --spacing-unit: 1rem;
  --container-width: 1140px;
  --border-radius: 0.25rem;
  --small-font-size: 0.813rem;
  --first-color-lighter: hsl(var(--hue-color), 92%, 85%);
  --title-color: hsl(var(--hue-color), 8%, 15%);
  --first-color-alt: hsl(var(--hue-color), 57%, 53%);
}

html[data-theme="dark"] {
  --primary-color: #007bff;
  --secondary-color: #adb5bd;
  --background-color: #121212;
  --surface-color: #1e1e1e;
  --text-color: #e9ecef;
  --text-color-light: #ced4da;
  --border-color: #343a40;
  --shadow-color: rgba(255, 255, 255, 0.05);
}

body {
  font-family: var(--font-family-base);
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
  color: var(--text-color);
  background-color: var(--background-color);
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

header {
  background-color: var(--surface-color);
  box-shadow: 0 2px 4px var(--shadow-color);
  padding: var(--spacing-unit) 0;
  position: sticky;
  top: 0;
  z-index: 100;
  transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: var(--container-width);
  margin: 0 auto;
  padding: 0 var(--spacing-unit);
}

header nav ul {
  display: flex;
  gap: calc(var(--spacing-unit) * 2);
  list-style: none;
}

header nav ul li a {
  text-decoration: none;
  color: var(--text-color);
  font-weight: var(--font-weight-bold);
  padding: 0.5rem;
  transition: color 0.3s ease-in-out;
}

header nav ul li a:hover {
  color: var(--primary-color);
}

#hero {
  min-height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: calc(var(--spacing-unit) * 2) 0;
}

#hero > img {
  margin: 1.5vw 0;
}

#hero .container {
  text-align: center;
}

/* #hero > img {
  mix-blend-mode: multiply;
  background-color: transparent;
} */

#hero h1 {
  font-size: 3.5rem;
  font-weight: var(--font-weight-bold);
  margin-bottom: var(--spacing-unit);
}

#hero .hero-subtitle {
  font-size: 1.5rem;
  margin-bottom: calc(var(--spacing-unit) * 2);
  color: var(--text-color-light);
}

#hero p:last-of-type {
  max-width: 600px;
  margin: 0 auto;
}

.divider {
  width: 100vw;
  height: 0.3px;
  background-color: white;
  position: relative;
  z-index: 100;
  border-bottom: 1px solid;
}

#about {
  padding: calc(var(--spacing-unit) * 4) 0;
}

#about h2 {
  text-align: center;
  margin-bottom: calc(var(--spacing-unit) * 3);
}

.about-content {
  display: flex;
  align-items: center;
  gap: calc(var(--spacing-unit) * 4);
  padding: 2vw;
}

.about-image {
  flex: 1;
  max-width: 300px;
}

.about-image img {
  max-width: 100%;
  height: auto;
  border-radius: 50%;
  box-shadow: 0 4px 15px var(--shadow-color);
}

.about-text {
  flex: 2;
}

.about-text p {
  margin-bottom: var(--spacing-unit);
}

.about-text p:last-child {
  margin-bottom: 0;
}

#skills {
  padding: calc(var(--spacing-unit) * 4) 0;
  background-color: var(--background-color);
}

#skills h2 {
  text-align: center;
  margin-bottom: calc(var(--spacing-unit) * 3);
}

#skills .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  width: 70%;
}

.skills-name {
  padding: 0.8rem 1.25rem;
  margin-bottom: 1rem;
  margin-right: 1rem;
  font-size: var(--small-font-size);
  /* background: transparent; */
  background: #1111110a;
  border-radius: 5px;
  font-weight: 600;
  color: #fff;
  text-align: center;
  font-weight: bold;
  transition: 0.3s ease;
}

.skills-name:hover {
  background-color: rgba(93, 101, 218, 0.562);
}

#qualification {
  padding: calc(var(--spacing-unit) * 4) 0;
  background-color: var(--background-color);
}

#qualification h2 {
  text-align: center;
}

#projects {
  padding: calc(var(--spacing-unit) * 4) 0;
  background-color: var(--background-color);
}

#projects h2 {
  text-align: center;
  margin-bottom: calc(var(--spacing-unit) * 3);
}

.projects-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: calc(var(--spacing-unit) * 2);
  padding: 2vw;
}

.project-card {
  background-color: var(--surface-color);
  border-radius: var(--border-radius);
  border: 1px solid var(--border-color);
  box-shadow: 0 4px 8px var(--shadow-color);
  overflow: hidden;
  transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out,
    box-shadow 0.3s ease-in-out;
}

.project-image {
  width: 100%;

  display: block;
}

.project-info {
  padding: calc(var(--spacing-unit) * 1.5);
}

.project-info h3 {
  margin-bottom: var(--spacing-unit);
}

.project-links {
  padding: 20px calc(var(--spacing-unit) * 1.5) calc(var(--spacing-unit) * 1.5);
  display: flex;
  gap: var(--spacing-unit);
}

.project-links a {
  display: inline-block;
  padding: 0.5rem 1rem;
  text-decoration: none;
  font-weight: var(--font-weight-bold);
  border-radius: var(--border-radius);
  background-color: var(--primary-color);
  color: var(--surface-color);
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.project-links a:hover {
  filter: brightness(90%);
}

.project-links a:last-child {
  background-color: transparent;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out,
    border-color 0.3s ease-in-out;
}

.project-links a:last-child:hover {
  background-color: var(--primary-color);
  color: var(--surface-color);
  filter: none;
}

#contact {
  padding: calc(var(--spacing-unit) * 4) 0;
}

#contact .container > h2,
#contact .container > p {
  text-align: center;
}

#contact .container > p {
  margin-bottom: calc(var(--spacing-unit) * 3);

  margin-left: auto;
  margin-right: auto;
}

#contact form {
  max-width: 700px;
  margin: 0 auto;
}

#contact label {
  display: block;
  font-weight: var(--font-weight-bold);
  margin-bottom: 0.5rem;
}

#contact input[type="text"],
#contact input[type="email"],
#contact textarea {
  width: 100%;
  padding: calc(var(--spacing-unit) * 0.75);
  margin-bottom: calc(var(--spacing-unit) * 1.5);
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  background-color: var(--surface-color);
  font-family: inherit;
  font-size: inherit;
  color: var(--text-color);
  transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out,
    background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

#contact textarea {
  resize: vertical;
  min-height: 150px;
}

#contact input[type="text"]:focus,
#contact input[type="email"]:focus,
#contact textarea:focus {
  outline: none;
  border-color: var(--primary-color);
  box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.25);
}

#contact button[type="submit"] {
  display: block;
  width: 100%;
  padding: var(--spacing-unit);
  border: none;
  border-radius: var(--border-radius);
  background-color: var(--primary-color);
  color: var(--surface-color);
  font-size: 1.1rem;
  font-weight: var(--font-weight-bold);
  cursor: pointer;
  transition: filter 0.2s ease-in-out, background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:hover {
  filter: brightness(90%);
}

footer {
  background-color: var(--surface-color);
  padding: calc(var(--spacing-unit) * 2) 0;
  border-top: 1px solid var(--border-color);
  color: var(--text-color-light);
  text-align: center;
  transition: background-color 0.3s ease-in-out,
    border-top-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: var(--container-width);
  margin: 0 auto;
  padding: 0 var(--spacing-unit);
  color: grey;
}

footer ul {
  display: flex;
  gap: var(--spacing-unit);
  list-style: none;
}

footer ul li a {
  text-decoration: none;
  color: var(--text-color-light);
  transition: color 0.2s ease-in-out;
}

footer ul li a:hover {
  color: var(--primary-color);
}
/* From Uiverse.io by rishichawda */
/* The switch - the box around the slider */
#theme-toggle-button {
  font-size: 17px;
  position: relative;
  display: flex;
  width: 3em;
  cursor: pointer;
}

/* Hide default HTML checkbox */
#toggle {
  opacity: 0;
  width: 0;
  height: 0;
}

#container,
#patches,
#stars,
#button,
#sun,
#moon,
#cloud {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.25s;
}

/* night sky background */
#toggle:checked + svg #container {
  fill: #2b4360;
}

/* move button to right when checked */
#toggle:checked + svg #button {
  transform: translate(28px, 2.333px);
}

/* show/hide sun and moon based on checkbox state */
#sun {
  opacity: 1;
}

#toggle:checked + svg #sun {
  opacity: 0;
}

#moon {
  opacity: 0;
}

#toggle:checked + svg #moon {
  opacity: 1;
}

/* show or hide background items on checkbox state */
#cloud {
  opacity: 1;
}

#toggle:checked + svg #cloud {
  opacity: 0;
}

#stars {
  opacity: 0;
}

#toggle:checked + svg #stars {
  opacity: 1;
}

/* .theme-switcher {
  display: flex;
  align-items: center;
}

.switch-label {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 26px;
  cursor: pointer;
}

.switch-checkbox {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  border-radius: 26px;
  transition: background-color 0.4s;
}

.slider::before {
  content: "";
  position: absolute;
  height: 20px;
  width: 20px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  border-radius: 50%;
  transition: transform 0.4s;
}

.switch-checkbox:checked + .slider {
  background-color: var(--primary-color);
}

.switch-checkbox:checked + .slider::before {
  transform: translateX(24px);
} */

@media (max-width: 768px) {
  header nav {
    display: none;
  }

  #hero h1 {
    font-size: 2.8rem;
  }
  #hero .hero-subtitle {
    font-size: 1.25rem;
  }
  .about-content {
    flex-direction: column;
    gap: calc(var(--spacing-unit) * 3);
  }

  .about-image {
    max-width: 250px;
    margin: 0 auto;
  }
  #skills .container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }
  .projects-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .menu-toggle {
    display: flex;
  }
}

@media (max-width: 480px) {
  header .container {
    flex-direction: column;
    gap: var(--spacing-unit);
  }

  #hero h1 {
    font-size: 2.2rem;
  }

  #hero .hero-subtitle {
    font-size: 1.1rem;
  }

  #skills .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .projects-container {
    grid-template-columns: 1fr;
  }

  #about,
  #projects {
    padding: calc(var(--spacing-unit) * 2) 0;
  }
  #contact {
    padding: 2vw;
  }

  .project-links a {
    padding: 0.75rem 1.25rem;
    font-size: 1rem;
  }

  s footer ul {
    gap: calc(var(--spacing-unit) * 1.5);
  }

  footer ul li a {
    padding: 0.4rem;
  }
  footer .container {
    flex-direction: column;
    gap: 5vw;
  }
}
